navbarx.{
    position: absolute;
width: 1316px;
height: 71px;
left: 62px;
top: 52px;
}
.

.nav-item1{
    /* box-sizing: border-box;

position: absolute;
width: 224px;
height: 71px;
left: 1154px;
top: 52px;

background: #FFFFFF;
border: 2px solid #000000;
border-radius: 10px; */
}