.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login{
  
/* box-sizing: border-box;

position: absolute;
width: 224px;
height: 71px;
left: 1154px;
top: 52px;

background:white;
border: 2px solid #000000;
border-radius: 10px; */
}

/* .navbar{
  position: absolute;
width: 1316px;
height: 71px;
left: 62px;
top: 52px;
} */

.nav-item{
  /* font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px; */
}

.navbar .navbar-nav .nav-item NavLink{
  padding: 150px;
}